parameters:


application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter

session:
	expiration: 14 days
	savePath: "%tempDir%/sessions"

services:
	router: App\Router\RouterFactory::createRouter
	- App\Model\PasteCollection

constants:
    TITLE: Sipas
    SPAM:
        density: 10
        per_line: 2
        forbidden_words:
            - viagra
