{block content}

<div class="card h-100">
  <div class="card-header" n:block="title">
    Create your paste
  </div>
  <div class="card-body">
    {control pasteForm}
  </div>
</div>
{/block}

{block scripts}
<script src="https://nette.github.io/resources/js/3/netteForms.min.js"></script>
{/block}
