{block content}

<div class="date">{$paste['created']|date:'F j, Y'}</div>

<h1 n:block="title">{$paste['title']}</h1>

<div class="post">{$geshi|noescape}</div>

<style>
{$geshi_css|noescape}
</style>
{/block}
