{block content}

<div class="card">
  <div n:block="title" class="card-header"><strong>{$paste['title']}</strong>{$paste['author'] ? " by "}<em>{$paste['author']}</em></div>
  <div class="card-body">
    <div class="post">{$geshi|noescape}</div>
  </div>
  <div class="card-footer text-muted text-center">
    {$paste['created']|ago}
  </div>
</div>

<style>
{$geshi_css|noescape}
</style>
{/block}
